android/*.iml
android/.gradle
android/local.properties
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild

server/vendor
server/.idea
server/Homestead.json
server/Homestead.yaml
server/.env

.DS_Store
