@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);* {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

body {
  margin: 0;
}

.navbar .main-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.4em;
  font-weight: 500;
  padding: 8px;
  padding-left: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.87);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.87);
  cursor: pointer;
}

.navbar .main-navbar i {
  color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 9px;
  right: 40px;
  font-size: 1em;
}

.navbar ul {
  margin: 0;
  display: none;
  padding: 0 20px;
  list-style: none;
}

.navbar ul li {
  padding: 8px 20px;
  display: block;
}

.navbar.expanded .main-navbar {
  background-color: rgba(0, 0, 0, 0.87);
}

.navbar.expanded ul {
  display: block;
}

.container {
  padding: 18px;
}

.container .text-section,
.container .image-section {
  margin-bottom: 18px;
}

.container .text-section {
  display: table;
}

.container .text-section:nth-child(3n + 1) .emphasis {
  background-color: #26c6da;
}

.container .text-section:nth-child(3n + 1) .details a {
  color: #26c6da;
}

.container .text-section:nth-child(3n + 2) .emphasis {
  background-color: #0095a8;
}

.container .text-section:nth-child(3n + 2) .details a {
  color: #0095a8;
}

.container .text-section:nth-child(3n) .emphasis {
  background-color: #1abc9c;
}

.container .text-section:nth-child(3n) .details a {
  color: #1abc9c;
}

.container .text-section .emphasis {
  display: table-cell;
  width: 4px;
  border-radius: 4px;
}

.container .text-section .details {
  margin-left: 18px;
  margin-right: 18px;
}

.container .text-section .details h1 {
  margin: 0;
  margin-bottom: 12px;
  line-height: 34px;
}

.container .text-section .details p {
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  margin-bottom: 18px;
}

.container .text-section .details p.long-summary {
  display: none;
  color: #fce48a;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.container .text-section .details p.long-summary.expanded {
  color: rgba(0, 0, 0, 0.6);
}

.container .text-section .details .read-more {
  font-weight: 500;
  cursor: pointer;
}

.container .image-section {
  margin-left: -18px;
  margin-right: -18px;
}

.container .image-section img {
  width: 100%;
}

